altgraph==0.17
appdirs==1.4.4
cachetools==4.2.1
colorama==0.4.4
distlib==0.3.1
filelock==3.0.12
future==0.18.2
numpy==1.20.1
pefile==2019.4.18
Pillow==8.1.2
py2exe==0.10.3.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PyQRCode==1.2.1
PySide2==5.15.2
pywin32-ctypes==0.2.0
qrcode==6.1
shiboken2==5.15.2
six==1.15.0
virtualenv==20.4.2
zpl==0.1.8
